@import "./variables.module.scss";
// hero section

.heroSection {
  padding: 30px 0;
  overflow: hidden;
  background: #f6faff;
  .container {
    position: relative;
  }
  .computerIcon {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .plainIcon {
    position: absolute;
    bottom: -5%;
    left: 5%;
  }
  .cloudIcon {
    position: absolute;
    top: 43%;
    right: 5%;
  }
  .coloredText {
    color: $primary;
  }

  //   cloudCertification
  .cloudCertification {
    background: url(../images/cloudCertifications/cloudCertifications-hero-bg.svg)
      center center no-repeat;
    background-size: cover;
    color: $white !important;
    padding: 30px;
    margin-top: 40px;
    position: relative;
    .cloudPlainIcon {
      position: absolute;
      top: -60%;
      left: 5%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cloudCertification {
  }
}
