@import "./variables.module.scss";

// hero section

.heroSection {
  padding: 30px 0;
  overflow: hidden;
  background: $whiteBg;
  .container {
    position: relative;
  }
  .computerIcon {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .plainIcon {
    position: absolute;
    bottom: -5%;
    left: 5%;
  }
  .cloudIcon {
    position: absolute;
    top: 43%;
    right: 5%;
  }
}

.coloredText {
  color: $primary;
}

// whyQwikSkillsSection

.whyQwikSkillsSection {
  background: $whiteBg;
}

.businessSection {
  background: #000;
  .gridBoxWithLine {
    position: relative;
    .line {
      position: absolute;
      top: 24%;
      left: 0%;
    }
  }
}

// bestWayLearnSection
.bestWayLearnSection {
  overflow-x: hidden !important;
  .textWithDot {
    position: relative;
    padding-left: 20px;
    color: #000;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $secondary;
    }
  }
  .textWithDot2 {
    position: relative;
    padding-left: 20px;
    color: #000;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $primary;
    }
  }
  .handsOnCloud {
    z-index: -1;
  }
  .whiteRectangleRightBox {
    position: relative;
    z-index: 1;
    .rightRectangle {
      position: absolute;
      z-index: -1;
      width: 120%;
      top: 5%;
      left: -15%;
    }
  }
  .whiteRectangleRightBox {
    position: relative;
    z-index: 1;
    .leftRectangle {
      position: absolute;
      z-index: -1;
      width: 120%;
      top: 5%;
      right: -20%;
    }
  }
}

// videoSection
.videoSection {
  background: $primary;
  padding: 80px 0 200px 0;
}
.video {
  text-align: center;
  margin-top: -200px;
  padding-bottom: 60px;
  iframe {
    border-radius: 20px;
    // width: 860px;
    // height: 515px;
    width: 70%;
    height: 515px;
  }
}

// testimonialsSection
.testimonialsSection {
  .testimonialsText {
    padding-left: 20px;
    position: relative;
    &::before {
      content: url(../images//enterprise/quote.svg);
      position: absolute;
      top: -15px;
      left: 15%;
    }
  }
}
// testimonialsContainer for left right arrow
.testimonialsContainer {
  position: relative;
  .leftArrow {
    position: absolute;
    top: 45%;
    left: -4%;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background: $white;
    border-radius: 50%;
    box-shadow: -4px 11px 27px rgba(117, 174, 249, 0.13);
    text-align: center;
    padding: 10px;
    svg {
      color: $primary;
    }
  }
  .rightArrow {
    position: absolute;
    top: 45%;
    right: -4%;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background: $white;
    border-radius: 50%;
    box-shadow: -4px 11px 27px rgba(117, 174, 249, 0.13);
    text-align: center;
    padding: 10px;
    svg {
      color: $primary;
    }
  }
}

.FastTrackBtn1 {
  transition: $transition;
  &:hover {
    background: #000;
    color: $white;
  }
}
.FastTrackBtn2 {
  transition: $transition;
  &:hover {
    background: $white;
    color: $text;
  }
}

@media only screen and (max-width: 768px) {
  .rightRectangle,
  .leftRectangle {
    display: none;
  }
  .video {
    padding-bottom: 40px;
    iframe {
      width: 90%;
      height: 312px;
    }
  }
  .testimonialsText {
    &::before {
      left: 8% !important;
    }
  }
  .leftArrow,
  .rightArrow {
    display: none;
  }
}
