// reset style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}

// google font
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}
.css-1kifg57-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background: #2c88ff !important;
  color: #fff !important;
}
