@import "./variables.module.scss";

// hero section

.heroSection {
  padding: 30px 0;
  overflow: hidden;
  .container {
    position: relative;
  }
  .computerIcon {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .plainIcon {
    position: absolute;
    bottom: -5%;
    left: 5%;
  }
  .cloudIcon {
    position: absolute;
    top: 43%;
    right: 5%;
  }
  .coloredText {
    color: $primary;
  }
}

// QwikskillsOffersSection

.QwikskillsOffersSection {
  background: #f9fbff;
  .coloredText {
    color: $primary;
  }
  .offerSection {
    // tabs
    .tabItem {
      position: relative;
      &::before {
        content: url(../images/cloud-2.svg);
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }
  .detailedExplanationsSection {
    // tabs
    .tabItem {
      position: relative;
      &::before {
        content: url(../images/cloud-3.svg);
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
    .css-7l3ul-MuiButtonBase-root-MuiTab-root.Mui-selected {
      color: #765bf5 !important;
    }
  }
  .updateContentSection {
    // tabs
    .tabItem {
      position: relative;
      &::before {
        content: url(../images/cloud-4.svg);
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
    .css-7l3ul-MuiButtonBase-root-MuiTab-root.Mui-selected {
      color: #765bf5 !important;
    }
  }
}

// testimonialsSection
.testimonialsSection {
  background: #000;
  .coloredText {
    color: $primary;
  }
}

.strategySection {
  background: #f0f6ff;
  .coloredText {
    color: $primary;
  }
  .strategy1 {
    background: url(../images/stategy-1-bg.svg) center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .strategy2 {
    background: url(../images/stategy-2-bg.svg) center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .strategy3 {
    background: url(../images/stategy-3-bg.svg) center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

// connected
.connected {
  .coloredText {
    color: $primary;
  }
}

@media only screen and (max-width: 768px) {
  // hero section
  .companies {
    img {
      width: 50% !important;
    }
    svg {
      font-size: 12px !important;
    }
    h6 {
      font-size: 12px !important;
    }
  }
  .computerIcon,
  .cloudIcon {
    top: 100% !important;
    img {
      width: 40px !important;
    }
  }
  .plainIcon {
    bottom: -35% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    text-align: center;
    img {
      width: 30px !important;
    }
  }
  .strategy1 {
  }
}
