@import "./mixins";
@import "./variables.module.scss";

.heroSection {
  .container {
    position: relative;
  }
  .computerIcon {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .plainIcon {
    position: absolute;
    bottom: -5%;
    left: 5%;
  }
  .cloudIcon {
    position: absolute;
    top: 43%;
    right: 5%;
  }
  .coloredText {
    color: $secondary;
  }
}
