@import "./variables.module.scss";

// courseSection
.courses {
  .courseImage {
    position: relative;
    .badge {
      position: absolute;
      bottom: 0;
      right: 20px;
      background: $white;
      color: $primary;
      font-size: 12px;
      padding: 10px;
      border-radius: 50px;
    }
  }
  .courseStartBtn {
    transition: $transition;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
}

// faq
.faq {
  &::before {
    display: none;
  }
}
